<!DOCTYPE html>
<html>
<head>
    <title>Add a Game!</title>
</head>
<body>
    <h1>Add a Game</h1>
    <form method="post">
        <label>Title:</label><br>
        <input type="text" name="title"><br>

        <label>Developer:</label><br>
        <input type="text" name="developer"><br>
        
        <label>Platform:</label><br>
        <input type="text" name="platform"><br>

        <label>Genre:</label><br>
        <input type="text" name="genre"><br>
        
        <label>Release Date:</label><br>
        <input type="text" name="release_date"><br>


        <input type="submit" value="Add Game">
    </form>
</body>
</html>
